html{
    background: rgb(223, 169, 169);
}
h3{
    text-align: center;
}
.aref{
    text-align: center;
}

ol{
   padding-left: 33rem;
}
.box{
    height: 100px;
    width: 100px;
    margin: 30px;
}
#box1{
    background: rgb(247, 11, 255);
    transition: 2s;
}
#box1:hover{
    width: 300px;
}
#box2{
    background: rgb(0, 183, 255);
    transition: 2s;
}
#box2:hover{
    width: 300px;
    height: 300px;
}
#box3{
    background: rgb(238, 255, 5);
    transition: 2s linear;
}
#box3:hover{
    width: 300px;
}
#box4{
    background: rgb(123, 245, 10);
    transition: 2s ease;
}
#box4:hover{
    width: 300px;
}
#box5{
    background: rgb(252, 5, 26);
    transition: 2s ease-in;
}
#box5:hover{
    width: 300px;
}
#box6{
    background: rgb(21, 44, 248);
    transition: 2s ease-out;
}
#box6:hover{
    width: 300px;
}
#box7{
    background: rgba(62, 13, 240, 0);
    transition: 2s ease-in-out;
}
#box7:hover{
    width: 300px;
}